extends layout

block content
  h1= title
  p Welcome to #{title}
  video#inputVideo  
  canvas#drawCanvas(width="400", height="300")
  textarea#utterance
  br
  input#tts_button(type="button", value="speakup")
  div#audio_div
  div#url

  h1#hoge Please speak 
  
  input#message(type="text", name="message", x-webkit-speech, onwebkitspeechchange="$.translate();", onchange="$.translate();")  

  div#translate
    h1 Translate
    p#result
    p#positions

