doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/translate.js')
    script(type='text/javascript', src='/javascripts/synthesis.js')
    script(type='text/javascript', src='/javascripts/webcam.js')
    script(type='text/javascript', src='/javascripts/track.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/utils.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/numeric-1.2.6.min.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/mosse.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/left_eye_filter.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/right_eye_filter.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/nose_filter.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/clm.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/ccv.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/cascade.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/svmfilter_webgl.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/svmfilter_fft.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/mossefilter.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/js/Stats.js')
    script(type='text/javascript', src='/javascripts/clmtrackr/models/model_pca_20_svm.js')
  body
    block content